<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shuaicj.example.mybatis.relationship.mapper.PersonMapper">
    <resultMap id="personResultMap" type="shuaicj.example.mybatis.relationship.entity.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="personDetailResultMap" type="shuaicj.example.mybatis.relationship.entity.Person">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <association property="identity"
                     column="identity_id"
                     select="shuaicj.example.mybatis.relationship.mapper.IdentityMapper.findById"/>
        <collection property="phones"
                    column="id"
                    select="shuaicj.example.mybatis.relationship.mapper.PhoneMapper.findByPersonId"/>
        <collection property="projects"
                    column="id"
                    select="shuaicj.example.mybatis.relationship.mapper.ProjectMapper.findByPersonId"/>
    </resultMap>

    <resultMap id="personDetailResultMapViaJoin" type="shuaicj.example.mybatis.relationship.entity.Person">
        <id property="id" column="person_id" />
        <result property="name" column="person_name"/>
        <association property="identity"
                     columnPrefix="identity_"
                     resultMap="shuaicj.example.mybatis.relationship.mapper.IdentityMapper.identityResultMap"/>
        <collection property="phones"
                    columnPrefix="phone_"
                    resultMap="shuaicj.example.mybatis.relationship.mapper.PhoneMapper.phoneResultMap"/>
        <collection property="projects"
                    columnPrefix="project_"
                    resultMap="shuaicj.example.mybatis.relationship.mapper.ProjectMapper.projectResultMap"/>
    </resultMap>

    <sql id="allColumns">ps.id, ps.name, ps.identity_id</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into person (name, identity_id) values (#{name}, #{identity.id})
    </insert>

    <delete id="deleteAll">
        delete from person
    </delete>

    <select id="findById" resultMap="personResultMap">
        select <include refid="allColumns"/> from person ps where id = #{id}
    </select>

    <select id="findByIdentityId" resultMap="personResultMap">
        select <include refid="allColumns"/> from person ps where identity_id = #{identity_id}
    </select>

    <select id="findByProjectId" resultMap="personResultMap">
        select
            <include refid="allColumns"/>
        from
            person ps, project_person pp
        where
            ps.id = pp.person_id
            and pp.project_id = #{project_id}
    </select>

    <select id="findDetailByName" resultMap="personDetailResultMap">
        select <include refid="allColumns"/> from person ps where name = #{name}
    </select>

    <select id="findDetailByNameViaJoin" resultMap="personDetailResultMapViaJoin">
        select
            ps.id as person_id,
            ps.name as person_name,
            i.id as identity_id,
            i.number as identity_number,
            ph.id as phone_id,
            ph.number as phone_number,
            pj.id as project_id,
            pj.name as project_name
        from
            person ps, identity i, phone ph, project pj, project_person pp
        where
            ps.identity_id = i.id
            and ps.id = ph.person_id
            and ps.id = pp.person_id
            and pj.id = pp.project_id
            and ps.name = #{name}
    </select>
</mapper>