<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shuaicj.example.mybatis.relationship.mapper.ProjectPersonMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into project_person (project_id, person_id) values (#{project.id}, #{person.id})
    </insert>

    <delete id="deleteAll">
        delete from project_person
    </delete>
</mapper>