<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shuaicj.example.mybatis.mapper.ProjectMapper">
    <resultMap id="projectResultMap" type="shuaicj.example.mybatis.entity.Project">
        <id property="id" column="id" />
        <result property="name" column="name"/>
    </resultMap>

    <sql id="projectAllColumns">id, name</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into project (name) values (#{name})
    </insert>

    <delete id="deleteAll">
        delete from project
    </delete>

    <select id="findById" resultMap="projectResultMap">
        select <include refid="projectAllColumns"/> from project where id = #{id}
    </select>

    <select id="findByName" resultMap="projectResultMap">
        select <include refid="projectAllColumns"/> from project where name = #{name}
    </select>
</mapper>